<%= render partial: 'merchant_links', locals: { merchant: @merchant } %>
<h1>Discount Specifics</h1>


<p>Items must reach <%= @discount.threshold %> threshold to receive discount </p>
<p>Items will receive <%= @discount.percent %>% off if threshold is reached</p>